.container {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;
}

.label {
  color: rgb(247, 113, 51);
}

.input {
  width: 280px;
}
